<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:index' %}">
          <i class="nav-icon icon-speedometer"></i> Dashboard
          <!-- <span class="badge badge-primary">NEW</span> -->
        </a>
      </li>
      <li class="nav-title">Chamados</li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'call:call_list' %}">
          <i class="nav-icon icon-list"></i> Chamados</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>