{% extends "base.html" %}
{% load static %}
{% load usergroup_tags %}

{% block breadcrumb %}
  {% include "breadcrumb/_include_breadcrumb_base.html" %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Lista de Chamados
        <span class="float-right">{{ object_list.count }} de {{ page_obj.paginator.count }} resultados ({{ total_items }} total)</span>
      </div>
      <div class="card-body">
        <div class="row">
          {% if request.user|name_group == 'Padrão' %}
            <div class="col-md-auto">
              <a class="btn btn-primary" href="{% url 'call:call_create' %}">
                <i class="fa fa-plus"></i>
                Adicionar
              </a>
            </div>
          {% endif %}
          <div class="col">
            <form action="." method="GET">
              <div class="row">
                <div class="col p-ari-5">
                  <input name="search" class="form-control mb-2" type="text" placeholder="Buscar..." />
                </div>
                <div class="col-auto">
                  <button class="btn btn-success mb-2" type="submit">OK</button>
                  <button class="btn btn-link mb-2">Limpar</button>
                </div>
              </div>
              <div class="float-right p-2">
                <a href="?status=a">
                  <span class="badge badge-success">Aberto</span>
                </a>
                <a href="?status=b">
                  <span class="badge badge-warning">Em andamento</span>
                </a>
                <a href="?status=c">
                  <span class="badge badge-secondary">Concluído</span>
                </a>
              </div>
            </form>
          </div>
        </div>
        <!-- TABLE -->
        <table class="table table-responsive-sm table-hover table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Data</th>
              <th>Título</th>
              <th>Descrição</th>
              <th>Atendente</th>
              <th class="text-center">Status</th>
              <th>Categoria</th>
              <th>Subcategoria</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.created|date:"d/m/Y" }}</td>
                <td>
                  <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                </td>
                <td>{{ object.description }}</td>
                <td>{{ object.user.get_full_name }}</td>
                <td class="text-center">
                  {% if object.status == 'a' %}
                    <span class="badge badge-success">{{ object.get_status_display }}</span>
                  {% elif object.status == 'b' %}
                    <span class="badge badge-warning">{{ object.get_status_display }}</span>
                  {% else %}
                    <span class="badge badge-secondary">{{ object.get_status_display }}</span>
                  {% endif %}
                </td>
                <td>
                  {{ object.subcategory.category }}
                </td>
                <td>
                  {{ object.subcategory }}
                </td>
                <!-- <td class="text-center">
                  <span class="badge badge-success">Active</span>
                </td> -->
                <td class="text-center">
                  {% if request.user|name_group != 'Padrão' %}
                    <a href="{{ object.get_update_url }}">
                      <i class="fa fa-edit"></i>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- pagination -->
        {% include "includes/pagination.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}